.container {
  border: 2px solid black;
  min-height: 300px;
  display: flex;
  /* направление оси */
  flex-direction: row;
  /* flex-direction: row-reverse;
                    flex-direction: column;
                    flex-direction: column-reverse; */

  /* поведение, распредение по строкам */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

  /* распределение по ширине */
  justify-content: flex-start;
  /* justify-content: flex-end;
                    justify-content: center;
                    justify-content: space-between;
                    justify-content: space-around;
                    justify-content: space-evenly; */

  /* Выравнивание элементов */
  align-items: flex-start;
  /* align-items: flex-end;
                    align-items: center;
                    align-items: baseline;
                    align-items: stretch; */

  /* строки внутри контейнера */
  align-content: flex-start;
  /* align-content: flex-end;
                    align-content: center;
                    align-content: stretch; */
}

.item {
  width: 100px;
  height: 100px;
  background: orangered;
  margin: 10px;
  font-size: 40px;
  text-align: center;
}

.h200 {
  /* height: 200px; */
}

.h150 {
  /* height: 150px; */
}

.h250 {
  /* height: 250px; */
}

.test-item {
  order: 2;
  flex-grow: 2;
}

.test-item-2 {
  order: 1;
  flex-grow: 2;
  align-self: flex-end;
}

.container-2 {
  border: 2px solid brown;
  margin: 50px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-2 {
  margin: 10px;
  background: burlywood;
  width: 200px;
  height: 150px;
}
